
.movie {
    width: 214px;
    height: 317px;
    line-height: 317px;
    overflow: hidden;
    display: block;
    float: left;
    margin: 4px 7px;
    position: relative;
    border: 1px solid #CCC;
}

.movie img {
    position: absolute;
}

.actions {
    position: absolute;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    width: 214px;
    text-align: center;
}

.imdb-rating {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #FFF;
    color: #000;
    text-align: center;
    opacity: 0.8;
}
