
.movie {
    width: 214px;
    height: 317px;
    line-height: 317px;
    overflow: hidden;
    display: block;
    float: left;
    margin: 4px 7px;
    position: relative;
    border: 1px solid #CCC;
}

.movie .poster {
    position: absolute;
    opacity: 0.85;
}

.movie.selected {
    border: 1px solid #000;
}

.movie.selected .poster {
    opacity: 1;
}

.imdb-rating {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #FFF;
    color: #000;
    text-align: center;
    opacity: 0.8;
}

#main_row {
    position: relative;
}

#details_zone {
    position: fixed;
    right: 0;
}

#preloader {
    margin: 20pxauto;
}